<include file="Application/Home/View/Common/header.html" title="系统登录" keywords="登录" description=""/>
	
	<style>
		body {
			background-color: #f6f6f6;
		}
	</style>
	<div id="admin-log-wrapper" class="center">
		<div class="admin-log-title">
			 <h2>请登录</h2>	
		</div>
		<form action="{:U('Login/toLogin')}" method="post">
			<div class="admin-log-body">
				<div class="admin-user-info">
					<span><i class=" fa fa-user-md"></i></span>
					<input type="text" name="username" placeholder="账号" value="">
				</div>
				<div class="admin-user-info">
					<span><i class="fa fa-key"></i></span>
					<input type="password" name="password" placeholder="密码" value="">
				</div>
				<div id="admin-log-button">
					<span class="fr">
						<input class="opacity-none" type="submit">
						<i class="fa fa-sign-in"></i>
					</span>	
				</div>
			</div>
		</form>
	</div>
</div>

<script src="/Kiyoshi/Public/plugins/jquery.cookie.js"></script>
<script>
	$(document).ready(function() {
		$("input[type='submit']").click( function(e) {
			var password = $("input[type='password']").val().trim();
			var username = $("input[type='text']").val().trim();

			if(username == '') {
				alert("请输入用户名！");
				e.preventDefault();
			}

			if(password == '') {
				alert("请输入密码！");
				e.preventDefault();
			}
		});	
	});
</script>
</body>
</html>
