<include file="Common/header" title="测评结果" keywords="测评" description=""/>
<include file="Common/top"/>

<div class="main-container">
	<nav id="admin-sidebar" class="side-bar">
		<ul class="nav-list">
			<li class="nav-list-item">
				<a href="javascript:openapp('{:U('Index/dataDir')}',1,'数据表')">
					<i class="fa fa-tasks"></i>
					<span>数据管理</span>
					<i class="fa fa-angle-right fr"></i>
				</a>
			</li>
		</ul>
	</nav>
	<div class="main-content">
		<div class="tab-nav">
			<ul class="tab-nav-item">
				<li class="active" data-id='0'>主页</li>
			</ul>
		</div>
		<div class="page-content">
		
		</div>
	</div>
</div>

	<script src="__PUBLIC__/script/index.js"></script>
	<script src="__PUBLIC__/script/admin.js"></script>

</body>
</html>

