<div class="twopage container" id="twopage">
    <div class="twopage-text">
        <h1 class="twopage-text-h1">
            各区测评情况
        </h1>
    </div>
    <div class="row">
        <foreach name="zoneInfo" item="vi">
            <div class="twopage-books col-md-4">
                <a href="{:U('Index/disone', array('id'=>$vi['id']))}" target="_blank">
                    <img src="{$vi.btn}">
                    <div class="bookicon">
                        <h3>{$vi.zone}</h3>
                        <h1><strong>测评</strong></h1>
                    </div>
                </a>
            </div>
        </foreach>
    </div>
</div>