<div class="twopage" id="twopage">
    <div class="twopage-text">
        <h1 class="twopage-text-h1">
            各区测评情况
        </h1>
    </div>
    <div class="row">
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>高新区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>吴中区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>园区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>高新区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>吴中区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>园区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="twopage-books col-md-4">
            <a href="{:U('disone')}" target="_blank">
                <img src="__PUBLIC__/images/1.jpg">
                <div class="bookicon">
                    <h3>高新区</h3>
                    <h1><stong>测评</stong></h1>
                </div>
            </a>
        </div>
    </div>
</div>