<table class="table table-border">
			<thead>
				<tr>
					<th width="180" class="text-center">测评项目</th>
					<th width="200" class="text-center">测评指标</th>
					<th width="200" class="text-center">指标分值</th>
					<th width="150" class="text-center">得分</th>
					<th width="150" class="text-center">合格率</th>
					<th width="160" class="text-center">小计得分</th>
					<th width="160" class="text-center">合格率</th>
				</tr>
			</thead>
			<tbody>
				<td class="text-center" rowspan="3">未成年人思想道德建设</td>
					<td class="text-center">社区教育</td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
					<td class="text-center" rowspan="3"> </td>
					<td class="text-center" rowspan="3"> </td>
				</tr>
					<td class="text-center">校园周边环境</td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
				</tr>
					<td class="text-center">网吧管理</td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
					<td class="text-center"> </td>
				</tr>
			</tbody>

		</table>