<table class="table table-border">
	<thead>
		<tr>
			<th width="180" class="text-center">街道（新城）</th>
			<th width="200" class="text-center">指标分值</th>
			<th width="150" class="text-center">得分</th>
			<th width="150" class="text-center">合格率</th>
			<th width="160" class="text-center">排名</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="res_domain" item="vi">
			<tr>
				<td class="text-center">{$vi.domain}</td>
				<td class="text-center"></td>
				<td class="text-center"></td>
				<td class="text-center"></td>
				<td class="text-center"></td>
			</tr>
		</foreach>
	</tbody>

</table>

<table class="table table-border">
	<thead>
		<tr>
			<th width="180" class="text-center">部门</th>
			<th width="200" class="text-center">指标分值</th>
			<th width="150" class="text-center">得分</th>
			<th width="150" class="text-center">合格率</th>
			<th width="160" class="text-center">排名</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="res_department" item="vi">
			<tr>
				<td class="text-center">{$vi.department}</td>
				<td class="text-center"></td>
				<td class="text-center"></td>
				<td class="text-center"></td>
				<td class="text-center"></td>
			</tr>
		</foreach>
	</tbody>

</table>