<nav id="nav-top">
	<div class="fl">
		<p class="system-name">
			<i class="fa fa-book"></i>
			<assign name="id" value="$Think.session.zoneId" />
			<a href="{:U('Index/disone', array('id'=>$id))}">
			<span>苏州文明城市建设测试&nbsp;&gt;&gt;<i>{$Think.session.zoneId}</i></span></a>
		</p>
	</div>
	<div class="fr pos-relative">
		<p id="nav-userinfo" class="one-line">
			<i class="fa fa-user"></i>
			<empty name="username">
				<span class="navtop-name">{$Think.session.admin_id}</span>
				<else/>
				<span class="navtop-name">{$username}</span>
			</empty>

			<a href="{:U('Index/logout')}">
				<span>退出</span>
			</a>
		</p>
	</div>
</nav>